@page "/nhl"
@rendermode InteractiveWebAssembly

@if (games == null)
{
    <p><em>Loading today's schedule...</em></p>
}
else
{
    @foreach (var game in games)
    {
        <a href="@game.YouTubeLink" target="_blank" title="@game.StartDateLocal.ToString("yyyy-MM-dd HH:mm")">
            <MudPaper>
                <MudPaper Class="d-inline-flex pa-4">
                    <img src="@game.HomeTeam.LogoLink" alt="@game.HomeTeam.Abbreviation" width="@GetTeamLogoSizing(game.HomeTeam)" />
                </MudPaper>
                <MudPaper Class="d-inline-flex pa-4">
                    <img src="@game.AwayTeam.LogoLink" alt="@game.AwayTeam.Abbreviation" width="@GetTeamLogoSizing(game.AwayTeam)" />
                </MudPaper>
            </MudPaper>
        </a>
    }
}
