@page "/nhl"
@rendermode InteractiveWebAssembly

@if (games == null)
{
    <p><em>Loading today's schedule...</em></p>
}
else
{
    <p>Games Today: @games.Count</p>

    @foreach (var game in games)
    {
        @* <h4>@game.HomeTeam.Abbreviation vs. @game.AwayTeam.Abbreviation</h4> *@
        <div class="matchup-card">
            <div>
                <div>
                    <img src="@game.HomeTeam.LogoLink" alt="@game.HomeTeam.Abbreviation" width="10%" />
                </div>

                <div>
                    <img src="@game.AwayTeam.LogoLink" alt="@game.AwayTeam.Abbreviation" width="10%" />
                </div>
            </div>
            @* <a href="@GetHighlightLink(game.Id)" target="_blank">
                Watch Highlights 📺
            </a> *@
        </div>
    }
}
